$footer-height: $base-spacing-unit * 4 !default;

.app__main-content {
	position: absolute;
	left: 0;
	width: 100%;
	top: $header-height;
	bottom: $footer-height;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: stretch;
	// background-color: $body-background;
	z-index: 1;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	.ios-web-app & {
		top: $header-height + 20;
	}
	> .main-content__center {
		display: flex;
		@extend .center;
	}
}
.app__scroll-stuff {
	height: calc(100% + 1px);
	position: absolute;
	top: 0;
	width: 100%;
}