.btn {
	-moz-outline: 0;
	border: 0;
	-webkit-appearance: none;
	user-select: none;
	// background-color: $action-color;
	border-radius: $brand-round;
	color: $background-color;
	cursor: pointer;
	display: block;
	font-size: 100%;
	font-weight: 400;
	line-height: $base-line-height * 2 - 2;
	min-width: $base-spacing-unit * 2;
	outline: 0;
	padding: 0 round($half-spacing-unit * 1.5);
	text-align: center;
	text-decoration: none;
	// text-shadow: 0 1px rgba(#000, .4);
	white-space: nowrap;
	@include layer;
	.no-touch & {
		transition: all .5s linear;
	}
	&:focus {
		outline: none;
	}
	&:active,
	&.touch-feedback {
		outline: none;
		background-color: $action-color-dark;
	}
}

.btn--inverted {
	border: $inverted-action-border;
	&:active,
	&.touch-feedback {
		outline: none;
		background-color: $action-color-inverted - 15;
	}
	&.btn--selected {
		border: $inverted-action-border;
		background-color: $action-color-inverted;
	}
}


.btn-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	> .btn {
		flex-grow: 1;
	}
	> .btn:not(:last-child) {
		border-right: 0;
	}
}