$icon-size: 24px;
.icon {
	display: inline-block;
	height: $base-spacing-unit * 2;
	width: $base-spacing-unit * 2;
	padding: ($base-spacing-unit * 2 - $icon-size) / 2;
	g, svg, path {
		fill: $font-color;
	}
	> svg {
		width: $icon-size;
		height: $icon-size;
	}
}
.icon--inverted {
	&, g, svg, path {
		fill: $header-font-color;
	}
}
.icon--l {
	height: $base-spacing-unit * 4;
	width: $base-spacing-unit * 4;
	padding: ($base-spacing-unit * 4 - $icon-size * 2) / 2;	
	> svg {
		width: $icon-size * 2;
		height: $icon-size * 2;
	}
}
.icon--xl {
	height: $base-spacing-unit * 5;
	width: $base-spacing-unit * 5;
	padding: ($base-spacing-unit * 5 - $icon-size * 3) / 2;	
	> svg {
		width: $icon-size * 3;
		height: $icon-size * 3;
	}
}