$icon-size: 24px;
$icon-size--l: 32px;
$icon-size--xl: 64px;
.icon {
	display: inline-block;
	height: $base-spacing-unit * 2;
	width: $base-spacing-unit * 2;
	padding: ($base-spacing-unit * 2 - $icon-size) / 2;
	g, svg, path {
		fill: $font-color;
	}
	> svg {
		width: $icon-size;
		height: $icon-size;
	}
}
.icon--inverted {
	&, g, svg, path {
		fill: $header-font-color;
	}
}
.icon--l {
	height: $base-spacing-unit * 2;
	width: $base-spacing-unit * 2;
	padding: ($base-spacing-unit * 2 - $icon-size--l) / 2;	
	> svg {
		width: $icon-size--l;
		height: $icon-size--l;
	}
}
.icon--xl {
	height: $base-spacing-unit * 4;
	width: $base-spacing-unit * 4;
	padding: ($base-spacing-unit * 4 - $icon-size--xl) / 2;	
	> svg {
		width: $icon-size--xl;
		height: $icon-size--xl;
	}
}