.travel-sections {
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	margin-bottom: $base-spacing-unit * 2;
	@include layer;
}

.travel-sections__more {
	display: flex;
	justify-content: center;
	line-height: $base-spacing-unit * 2;
	text-align: center;
	margin: auto;
	background-color: $background-color;
	margin-top: 1px;
	padding: $half-spacing-unit;
	color: $font-color;
}

.travel-section__wrapper {
	background-color: $background-color;
	margin: 1px 0 0;
	opacity: 1;
	transition: opacity $transition-speed ease;
	@include layer;
}
	.travel-sections--has-open > .travel-section__wrapper--closed {
		opacity: 0.5;
	}

.travel-section {
	padding: $half-spacing-unit;
	&.touch-feedback {
		background-color: mix($background-color, $body-background, 70%);
	}
}
.travel-section__icon {
	height: $base-spacing-unit * 2;
	flex-shrink: 0;
	border-radius: 50%;
}
.travel-section__icon--letter {
	width: $base-spacing-unit * 2;
	height: $base-spacing-unit * 2;
	line-height: 1;
	font-weight: 800;
	font-size: $base-spacing-unit;
	text-align: center;
}

.travel-section__duration {
	color: $quiet-color;
	flex-grow: 1;
	text-align: right;
	// @include font-size($centi-size);
}
.travel-section__leg {
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.travel-section__arrow {
	color: $quiet-color;
	padding: 0 $half-spacing-unit 0 0;
	&:before {
		margin-top: 0;
	}
}

.travel-section--closed {
	flex-direction: column;
	align-content: space-between;
	@include layer;
	.travel-section__duration {
		margin-left: $half-spacing-unit;
		margin-top: $base-spacing-unit;
	}
}
.travel-section__between {
	border-left: 2px $quiet-color solid;
	padding-left: $half-spacing-unit;
	margin-top: $half-spacing-unit;
	margin-bottom: $half-spacing-unit;
	margin-left: $base-spacing-unit / 2;
	// background-color: $quiet-color;
	height: $base-spacing-unit;
}
.travel-section__leg--detailed {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	// padding: 0 $half-spacing-unit;
	.travel-section__icon {
		// margin-top: $base-spacing-unit * 1.75;
	}
	.travel-section__time {
		// color: $quiet-color;
		// font-size: $centi-size;
	}
}
.travel-section__origin {
	display: flex;
	flex-direction: column;
} 

.travel-section__icon,
.travel-section__time {
	color: $quiet-color;
	
	margin-right: $half-spacing-unit;
}
.travel-section__place {
	// text-transform: uppercase;
	@include truncate(100%);
}

.travel-section__time {
	// font-size: $centi-size;
}
.travel-section__line {
	color: $quiet-color;
	font-size: $centi-size;
	margin-left: $half-spacing-unit / 2;
	@include truncate(100%);
}
.travel-sections--error {
	top: calc(50% - #{$base-spacing-unit});
	position: absolute;
	width: 100%;
}
